postgresql:
  odoo_pg:
    host: ${ODOO_DB_HOST}
    port: ${ODOO_DB_PORT}
    database: odoopg
    user: ${ODOO_DB_USER}
    password: ${ODOO_DB_PASSWORD}

duckdb:
  duckdb_wh:
    database: /home/src/duckdb/odoo_wh.duckdb

